body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 18px;
    font-size: 15px;
}

.card-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sub-title{
    font-family: 'Courier New', Courier, monospace;
}

.notes{
    font-style: italic;
}